@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
 font-family: 'Poppins' , sans-serif;
}
body{
    width: 100%;
    background: #818D92;
    position: relative;
    display: flex;
  }
  #menu{
    background: #191f2e;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  #menu .logo{
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px;
  }
  #menu .logo img{
    width: 70px;
    margin-right: 15px;
  }
  #menu .items{
    margin-top: 40px;
  }
  #menu .items li:hover{
    background: #253047;
  }
  /* #menu .items li:nth-child(1){
    border-left: 4px solid white;
  } */
  #menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
  }
  #menu .items a{
    text-decoration: none;
    color: white;
    font-weight: 00px;
  }
  #menu .items li a {
    text-align: none;
    color: white ;
    font-weight: 00px;
    transition: 0.3s ease;
  }
#dashboard{
  width: calc(100% - 300px);
  margin-left: 300px;
  position: relative;
}
#dashboard .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 3px solid #586A6A;
}
#dashboard .nav .search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}
#dashboard .nav .search i{
  margin-right: 12px;
}
#dashboard .nav .search input{
  border: none;
  outline: none;
  font-size: 12px;
}
#dashboard .nav .insta{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#dashboard .nav .insta i{
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}
#dashboard .nav .contact{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-decoration: none;
  text-size-adjust: auto;
}
.n1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#menu-btn{
  display: none;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.dashtitle{
  color: black;
  font-weight: 700;
  font-size: 60px;
  padding: 15px 15px 0px 15px;
}
.values{
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.values .valbox{
  background-color: #191f2e;
  color: white;
  width: 255px;
  padding: 16px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.values .valbox i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: black;
  margin-right: 16px;
}
.values .valbox:nth-child(1) i{
background-color: blue;
}
.values .valbox:nth-child(2) i{
  background-color: black;
}
.values .valbox:nth-child(3) i{
  background-color: green;
}
.values .valbox:nth-child(4) i{
  background-color: red;
}
.values .valbox h1{
  font-size: 20px;
  font-weight: 600;
}
.values .valbox span{
  font-size: 12px;
  color: white;
}
.sheet{
  width: 1600px;
  height: 900px;
 align-items: center;
}
@media (max-width: 769px) {
  #menu{
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
  }
  #menu.active{
    left: 0px;
  }
  #menu-btn{
    display: initial;
  }
  #dashboard{
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
  }
  #menu.active~#dashboard{
width: calc(100% - 270px);
margin-left: 270px;
transition: 0.3s ease;
  }
  #dashboard .nav{
    width: 100%;
  }
  .values{
    padding: 30px 30px 0px 30px;
    justify-content: flex-start;
  }
  .values .valbox{
    padding: 16px 20px;
    margin: 10px 20px 10px 0;
  }
  .sheet{
    width: 500px;
    height: 600px;
  }
  .shoota{
    margin-left: 270px;
    padding: 30px 30px 30px 30px;
  }

}
@media (max-width:477px){
  #dashboard .nav{
    padding: 15px;
  }
  #dashboard .nav .search input{
   width: 150px;
  }
.values{
  padding: 15px 15px 0 15px;
}
}
.shoota{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px 0 15px;
}
.time{
  text-align: center;
}